{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Administrateur</h1>
        <p class="lead">Bienvenue sur l'interface d'administration de IHMD</p>
    </div>

{% endblock %}