{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Contactez-nous : </h1>
    <br/>
    </br>
    <div class="container">
        <div class="row justify-content-end">
            {{ form(formulaire) }}
        </div>
    </div>
</div>
{% endblock %}
